body {
  margin: auto;
  padding: 10px;
  width: 1100px;
  border: 1px solid black;
  background-color: gainsboro;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/*Logo Header */
.header {
  display: flex;
  margin-bottom: 5px;
  border-radius: 8px;
}
.header_background {
  background: rgba(0, 0, 0, 0.6) url("../img/header_background.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.header img {
  border: 2px solid black;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.header .logoText {
  font-weight: bolder;
  font-size: 1.3rem;
  margin-left: 5px;
  margin-top: 20px;
}
.header .logoText .bigtext {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header .logoText .smalltext {
  font-style: italic;
  font-family: serif;
  color: gray;
}
/* Navbar */
.navbar {
  background-image: linear-gradient(
    rgb(90, 90, 90),
    black,
    black,
    rgb(90 90, 90)
  );
  background-color: black;
  padding: 2px;
  border-radius: 8px;
}
.navbar ul {
  display: flex;
}
.navbar ul li {
  list-style-type: none;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
}
.navbar ul li a:hover {
  color: green;
  cursor: pointer;
}
/*Big Box */
.bigBox {
  width: 95%;
  padding: 10px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h4 {
  text-decoration: underline;
  font-size: 1.2rem;
}

/* Footer */
.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: right;
  border-radius: 5px;
}
